.box{
  margin: 50px 0;
  box-shadow: -3px 3px 2px gray;
  padding: 0;
  border-radius: 4px;
}
.image-form{
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.image-form img{
  height: 400px;
  border-radius: 0 4px 4px 0;
}
.form{
  align-self: center;
  width: 50%;
  padding: 0 40px 0 20px;
  margin: 0;
}
.form mat-card-title{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: cornflowerblue;
}
.form button{
  margin-left: 60px;
  margin-right: 60px;
  background-color: cornflowerblue;
}
.form a{
  margin: 15px ;
}
